{% extends "layout.html" %}
{% block body %}
    <div class="container-fluid pt-15">
        <div class="px-6 pb-10 border-top-left-right bd-default">
            <div class="row">
                <div class="cell">
                    <h2 class="text-light">IP Networks</h2>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <div id="ipmgt-table"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}