<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.2.7/css/metro-all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/metro/4.2.7/js/metro.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.tabledit.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/ipaddr.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/ipmgt.js') }}"></script>
        <title>Search any IP</title>
    </head>
    <body>
        <header>
            <div class="app-bar-expand-md bg-cyan fg-white" data-role="appbar">
                <ul class="app-bar-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="ipmanagement">IP Networks</a></li>
                    <li><a href="bulksearch">Bulk Search</a></li>
                    <li><a href="setting">Setting</a></li>
                </ul>
            </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>