{% extends "layout.html" %}
{% block body %}
    <div class="container-fluid pt-15">
        <div class="px-6 pb-10 border-top-left-right bd-default">
            <div class="row">
                <div class="cell">
                    <h2 class="text-light">Setting</h2>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="cell">
                    <h1>Coming soon !</h1>​
                </div>
            </div>
    </div>
{% endblock %}